# Python cache and artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Model and output files
trained_model_hierarchical.pkl
output/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Temporary files
*.tmp
*.log
*.bak

# Test images
image*.jpg

# Ignore satellite data (if large)
satellite/EuroSATallBands/
satellite/EuroSAT/
